@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body {
	background-color: var(--clr-body);
	color: var(--clr-text-primary);
}

footer {
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 2rem;
	background-color: var(--clr-primary);
	color: var(--clr-primary-light);
	text-align: center;
}

footer a {
	margin-left: 0.25rem;
	color: var(--clr-text-light);
}

:root {
	--clr-body: #fcfcfc;
	--clr-gray: #ccc;
	--clr-primary: #3c3440;
	--clr-primary-light: #e6e3e8;
	--clr-text-primary: #0d0d0d;
	--clr-text-light: #fcfcfc;
	--clr-danger: #e21a1a;
	--clr-success: #1fa61b;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: min(95vw, 800px);
}

.header {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.btn {
	align-items: center;
	background-color: var(--clr-primary);
	border-radius: 4px;
	color: var(--clr-text-light);
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	padding: 0.75rem 1rem;
	text-align: center;
	transition: all 0.15s;
	border: none;
}

.btn-block {
	width: 100%;
}
